/* GENERAL */
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #111111;
}

.container{
    background-color: #464d4691;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

/* HEADER*/
.header{
   height: 5.625rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.icons {
    height: 2.5rem;
    margin: 0px 3em;
}

/* MAIN */
#card .dog-img  {
    width: 100%;
}

#card {
    position: relative;
    width: 100%;   
}

.card{
    padding-top: .6em;
    font-weight: bolder;
    text-transform: uppercase;
    font-size:2.5em;
    color: #d1cdcc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.feature-suggestion {
    position: relative;
}

.dog-info {
    color: white;
    font-size:1.4rem;
    text-align: left;
    position: absolute;
    left: .8rem;
    bottom: 0.313rem;     
}

.dog-bio {
    font-size: 1rem;
    color: #354136;
    background-color: #ffffffd2;
    border-radius: 5px;
    line-height: 1.6;
    padding: 1.25rem;
    margin: 10px;
    max-height: 4em; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: normal; 
    width: 80%;
}

.hydrant {
    height:8em; 
    width: 4em;
    opacity: 0.2;
    margin: 2.5em; 
}

/* BADGE NOPE/LIKE */
.badge {
    height: 5.625em;
    rotate: -30deg;
    position:absolute;
    top:12.5rem;
    left: 1.25rem;
}

.display-like {
    display: none;
}

.display-nope {
    display: none;
}

.dog-img {
    border-radius: 0.938rem;
}


/* BUTTONS*/
.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.25em;
}

.accept-button {
    height: 4.5em;
    width: 4.5em;
    border-radius: 50%;
    box-shadow: 0.063em 0.188em 0.313em 0.375em #efecec;
    border: none; 
    background-color: white;
    margin: 0.313em 0.938em;   
}

 .accept-button:hover{
    background-color:#DBFFF4;   
}

.reject-button {
    height: 4.5em;
    width: 4.5em;
    border-radius: 50%;
    box-shadow: 0.063em 0.188em 0.313em 0.375em #efecec;
    border: none; 
    background-color: white;
    margin: 0.313em 0.938em;   
}

.reject-button:hover  {
    background-color:#FFE7EF;   
}



